@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Math&display=swap');

html body {
    font-family: "Inter", serif;

    padding: 5%;

    color: rgb(216, 233, 202);
    text-decoration-color: rgb(89, 85, 93);
    background-color: rgb(52, 138, 152);
}

html ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html a {
    color: darkseagreen;
    text-decoration-style:dashed;
    text-decoration-color: darkseagreen;
}

button {
    padding: 0;
    border: none;
    background: none;

    color: darkseagreen;
    text-decoration-style:dashed;
    text-decoration-color: darkseagreen;

    font-size: larger;
}

.ghfont {
    font-family: SFMono-Regular, Menlo, Consolas, Liberation Mono, monospace;
}